
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?cs=srgb&dl=pexels-felixmittermeier-956999.jpg&fm=jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .container {
    max-width: 700px;
    background-color: rgb(255, 255, 255); 
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
 
  h1 {
    color: #222;
    margin-bottom: 40px;
  }
  
  .testemunho {
    margin-bottom: 50px;
  }
  
  .testemunho img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .testemunho h3 {
    margin: 0;
    color: #333;
  }
  
  .testemunho blockquote {
    margin-top: 10px;
    font-style: italic;
    color: #111111;
  }
  