body {
    font-family: Arial, sans-serif;
    background-image: url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?cs=srgb&dl=pexels-felixmittermeier-956999.jpg&fm=jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mapa {
    max-width: 600px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }
  
  h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
  }
  
  summary {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
    color: #000;
  }
  
  ul {
    list-style: none;
    padding-left: 20px;
    text-indent: 10px;
    margin-top: 5px;
    color: #222121;
  }
  
  li {
    margin: 5px 0;
  }
  